$font-family: 'Red Hat Display', sans-serif;
$primary-color-pale: hsl(225, 100%, 94%);
$primary-color-bright: hsl(245, 75%, 52%);
$primary-color-hover: hsl(245, 75%, 52%, 70%);
$neutral-color-pale: hsl(225, 100%, 98%);
$neutral-color-desaturated: hsl(224, 23%, 55%);
$neutral-color-dark: hsl(223, 47%, 23%);
$font-size: 16px;
